{% extends 'base.html' %}

{% block body %}

    <div class="container">
         <div class="row justify-content-center text-lg-start">
             <div class="col-11">
                <h1 class="text-muted mt-3">Sobre o app-olv</h1><hr>
             </div>
            <div class="col-6">


                <h4 class="text-muted">Sumário</h4>
                <p>
                    O app-olv foi criado para gerenciar as partituras de todos os instruments da orquestra que estão armazenadas digitalmente. Com isso
                    não será necessário o armazenamento físico das partituras, e faciliará o acesso aos arquivos e pastas de cada instrumento.<br>
                    Com o app-olv cada usuário terá acesso à sua pasta, podendo visualizar o catálogo completo e também fazer o download da partitura que desejar.
                </p>

                <h4 class="text-muted">Tecnologias</h4>
                <p><i class="fab fa-python" title="python"></i> | <i class="fa fa-code" title="html"></i> | <i class="fab fa-css3" title="css"></i> | <i class="fab fa-js" title="javascript"></i>  | <i class="fab fa-amazon" title="s3"></i></p>

            </div>
             <div class="col-6">

                 <h4 class="text-muted">Considerações</h4>
                 <p>
                     Agradeço a todos envolvidos que me apoiaram na criação desse app, minha família minha
                     amada esposa e meus amigos que deram um feedback positivo quando propus a ideia.<br>
                     Obrigado a escola <a href="https://www.hashtagtreinamentos.com/">hashtagtreinamentos</a> por todo suporte.<br>
                     É uma realização pessoal poder concluir esse projeto, por que cada implementação foi um desafio.
                     Esse trabalho é fruto de muita pesquisa e estudo, pois
                     foi possível completar todos os requisitos que eu almejava para a aplicação.
                     Aplicação web, criada com python e integrada com o s3 da amazon.<br>
                     À Deus toda honra!
                 </p>

             </div>
        </div>

    </div>

{% endblock %}